#container{
    display: flex;
    width: 450px;
    height: fit-content;
    border: 2px solid red;
    flex-direction: column;
}

#header{
    border: 2px solid red;
    width: 100%; height: 100px;
    display: flex;
    justify-content: space-around;
     
}
#body{
    border: 2px solid black;
    width: 100%; height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#addbox{
  border: 2px solid red;
  width: 100%; height: 100px;
  display: flex;
  justify-content: center;
}
#time{
    /*border: 2px solid black;*/
    width: fit-content; height: fit-content;
    margin-top: 10px;
     
}

#title{
    /* border: 2px solid black; */
    width: fit-content; height: fit-content;
}

#day{
    font-size: 2em;
    text-align: center;
    font-family: cursive;
}

#currentDate{
    font-size: 1.2em;
    font-family: cursive;
}

#title{
    font-size: 2em;
    margin-top:20px;
    font-family :cursive;
}

#all{
    border: 2px solid black;
    width: 96%; height: 80px;
    border-radius: 10px;
    margin:auto;
}
#personal{
    border: 2px solid black;
    width: 96%; height: 80px;
    border-radius: 10px;
    margin:auto;
}
#work{
    border: 2px solid black;
    width: 96%; height: 80px;
    border-radius:10px;
    margin:auto;}
#wishlist{
    border: 2px solid black;
    width: 96%; height: 80px;
    border-radius: 10px;
    margin:auto;
}
#birthday{
    border: 2px solid black;
    width: 96%; height: 80px;
    border-radius: 10px;
    margin:auto;
}

#addButton{
    /* border: 2px solid red; */
    width: 70px; height: 70px;
    border-radius: 50%;
    margin-top: 13px;
    padding: -10px;
    background-image: url("add.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-color: rgb(79, 181, 79);
    outline: none;
    box-shadow: 0 0 20px rgb(79, 181, 79); /*Inital glow*/
    animation:glow 1.5s infinite ease-in-out;

}

@keyframes glow{
    0%{
        box-shadow:0 0 5px rgba(40, 167, 69, 0.6), 0 0 10px rgba(40, 167, 69, 0.4);

    }

    50%{
        box-shadow: 0 0 20px rgba(40, 167, 69, 0.8), 0 0 30px rgba(40, 167, 69, 0.6);

    }

    100%{
        box-shaow: 0 0 50px rgba(40, 167, 69, 0.8), 0 0 10px rgba(40, 167, 69, 0.4);
    }
}
.all, .personal, .birthday, .work, .wishlist {
 color: black;
 /* border:  1px solid red; */
 margin-top: 20px; margin-left:20px ;
 display: block;
 font-family: cursive;
}