#container{
    display: flex;
    width: 500px;
    height: 900px;
    border: 2px solid red;
    flex-direction: column;
}

#header{
    border: 2px solid red;
    width: 100%; height: 100px;
    display: flex;
    justify-content: space-around;
     
}
#body{
    border: 2px solid black;
    width: 100%; height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#addbox{
  border: 2px solid red;
  width: 100%; height: 100px;
  display: flex;
  justify-content: center;
}
#time{
    /*border: 2px solid black;*/
    width: fit-content; height: fit-content;
    margin-top: 10px;
     
}

#title{
    /* border: 2px solid black; */
    width: fit-content; height: fit-content;
}

#day{
    font-size: 2em;
    text-align: center;
    font-family: cursive;
}

#currentDate{
    font-size: 1.2em;
    font-family: cursive;
}

#title{
    font-size: 2em;
    margin-top:20px;
    font-family :cursive;
}

#all{
    border: 2px solid black;
    width: 96%; height: 80px;
    border-radius: 10px;
    margin:auto;
}
#personal{
    border: 2px solid black;
    width: 96%; height: 80px;
    border-radius: 10px;
    margin:auto;
}
#work{
    border: 2px solid black;
    width: 96%; height: 80px;
    border-radius:10px;
    margin:auto;}
#wishlist{
    border: 2px solid black;
    width: 96%; height: 80px;
    border-radius: 10px;
    margin:auto;
}
#birthday{
    border: 2px solid black;
    width: 96%; height: 80px;
    border-radius: 10px;
    margin:auto;
}

#addButton{
    border: 2px solid red;
    width: 60px; height: 60px;
    border-radius: 50%;
    background-image: url("https://cdn-icons-png.flaticon.com/128/10015/10015328.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}